.header{
    position: sticky;
    top: 0;
    height: 72px;
    background-color:#10BBD5; 
    z-index: 1;
}
.wrapper{
    padding: 16px 0 0   ;
    display: flex;
   margin-left: 52px;
}
.logo{
    margin-right: 531px;
}
.section{
   display: flex;
    gap: 8px;
    margin-left: 544px;
}
.zero{
    color: #F8FDFE;
    font-size: 16px;
    font-family: Cabin;
    font-weight: 400;
    font-style: normal;
    line-height: 24px
}

.basket{
   
    width: 40px;
    position: relative;
    background-image: url(../img/Vector.png);
    background-color:#10BBD5;
    background-repeat: no-repeat;
    border: none;
}
.basket1{
    color: #000;
    font-family: Cabin;
    position: absolute;
    margin: 8px 10px 25px ;
    font-size: 12px;
    font-weight: 400;
}

   

.item{
    width: 9px;
    height: 9px;
    margin-top: 22px;
}
.text-shop{
    display: flex;
    color: #000;
    font-size: 16px;
    font-family: Cabin;
    margin: 26px 0 0 52px;
    font-weight: 400;
}
.shop{
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight:400;
    margin-right: 442px;
    
   
    
}
.nav-menu{
    margin-left:442px ;
    display: flex;
    gap: 40px;
}
.sig-in{
    
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: Cabin;
    line-height: 24px;
    font-weight: 400;
}.title-text{
    margin: 36px 0 23px ;
    color: #1F1F1F;
    font-size: 32px;
    font-family: Cabin;
    font-weight: 600;
    font-style: normal;
    
}
.title{
    border-bottom:1px solid #A8A8A8;
    width: 1296px;
    margin-left: 52px;
}
.main-wrapper{
  width: 1296px;
    margin: 152px 0 0 52px ;
    display: grid;
    gap:  32px 24px;
    grid-auto-rows: 24px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns:repeat(4,1fr);
}

.card{
   padding: 32px;
   border: 1px solid #8e8e8e;
   position: relative;
  
}
.chat{
    background-color:#10BBD5 ;
    border: none;
    padding: 7px;
    border-radius: 70%;
    position: fixed;
    top: 680px;
    right: 520px;
    z-index: 1;
}

.section-product{
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}
.content{
    text-decoration: none;
}
.product{
    width: 178px;
    height: 280px;
   
}

.title-card{
    border-bottom:1px solid #A8A8A8;
    width: 242px;
    color:#1F1F1F;
    font-family: Cabin;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.text-card {
    margin-bottom: 8px;
    color:  #8E8E8E;
    font-size: 16px;
    font-family: Cabin;
    font-weight: 400;
    font-style: normal;

}
.price {
    margin-bottom: 16px;
    color: #E90000;
    font-size: 24px;
    font-family: Cabin;
    font-weight: 500;
    font-style: normal;

}
.prise2{
    display: flex;
    gap: 24px;
}
.link{
    text-decoration: none;
}
.badge{
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    width: 24px;
    background-color:#4200FF;
    position: absolute;
    left: 30px;
    top: 30px;
    color: #F8FDFE;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;


}
.button-card {
    border-radius: 4px;
    width: 242px;
    padding: 8px 24px;
    background-color: #4C394E;
    border: none;
    color: #F8FDFE;
    font-family: Cabin;
    text-align: center;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.badge2{
    border-radius: 4px;
    padding: 8px;
    width: 24px;
    background-color:#AF39E7;;
    position: absolute;
    left: 37px;
    color: #F8FDFE;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;
}
.button-card2{
    border-radius: 4px;
    width: 242px;
    padding: 8px 24px;
    background-color:#4D762D;;
    border: none;
    color: #F8FDFE;
    font-family: Cabin;
    text-align: center;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.badge{
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    width: 24px;
    background-color:#4200FF;
    position: absolute;
    right: 37px;
    top: 32px;
    color: #F8FDFE;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;

}
.badge3{
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    background-color:#EA33C0;;
    position:absolute;
    left: 75px;
    color: #F8FDFE;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;
}
.badge10{
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    background-color:#EA33C0;;
    position:absolute;
    left: 30px;
    color: #F8FDFE;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;
}
.price-minus{
    margin-bottom: 16px;
    color: #8E8E8E;
    font-size: 24px;
    font-family: Cabin;
    font-weight: 500;
    text-decoration: line-through;
}
.footer{
    margin-top: 120px;
   padding: 32px 52px;
    display: flex;
    background-color: #4C394E;
}
.copiraiter{
    
    color:#F8FDFE;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}
.text-footer{
    color: var(--white, #F8FDFE);
   margin-left: 1124px ;
    font-size: 16px;
    font-family: Cabin;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}



